@model  List<AdminServicios.DAL.CAT_RESIDENCIAL>
@{
    var grid = new WebGrid(Model, canPage: false, canSort: false);
}

    @grid.GetHtml(
                htmlAttributes: new { id = "tbl_razon_social" },
                tableStyle: "display dataTable striped",
                columns: grid.Columns(
                    grid.Column("RESIDENCIAL", "Residencial"),
                    grid.Column("ABREVIATURA", "Abreviatura"),
                    grid.Column(header: "Estatus", format: (item) => new HtmlString(item.Activo ? "Activo" : "Inactivo")),
                    grid.Column(header: "Acciones", format: (item) => new HtmlString(
                       "<a  onClick='FncEditar("+ item.ID_RESIDENCIAL +")' class='btn btn-primary'>Editar</a>"

                    ))
                ))
