@model  List<AdminServicios.DAL.CAT_RESIDENCIAL>
@{
    var grid = new WebGrid(Model, canPage: false, canSort: false);
}

    @grid.GetHtml(
                htmlAttributes: new { id = "tbl_residencial" },
                tableStyle: "table striped responsive-table",
                columns: grid.Columns(
                    grid.Column("RESIDENCIAL", "Residencial"),
                    grid.Column("ABREVIATURA", "Abreviatura"),
                    grid.Column(header: "Estatus", format: (item) => new HtmlString(item.Activo ? "Activo" : "Inactivo")),
                    grid.Column(header: "Acciones", format: (item) => new HtmlString(
                       "<a  onClick='FncEditar("+ item.ID_RESIDENCIAL + ")' class='btn-floating waves-effect waves-light'><i class='material-icons'>edit</i></a>"

                    ))
                ))
