
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Residenciales</h2>
<div class="row">
    <div class="input-group col-sm-10 col-md-10 col-lg-10">
        <label for="usr">Busca la residencial:</label>
        <input type="text" class="form-control" id="txtbuscar" placeholder="Buscar..">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Buscar</button>
        </div>
    </div>
    <div class="input-group  col-sm-2 col-md-2 col-lg-2">
        <a class="btn btn-success" href="@Url.Action("Create")">Agregar</a>
    </div>
</div>
<div class="row">
    <div id="divGrid"></div>
</div>
@section scripts{
<script>
    $(function () {
        ExecuteAjax("@Url.Action("Search")", "POST", FncShowGrid, false);
    });
    function FncShowGrid(data) {
        $("#divGrid").html(data);
    }
</script>
    }


